In [30]:
import pandas as pd
import geopy

In [31]:
df = pd.read_csv('201809-citibike-tripdata.csv')
df.shape

(1877884, 15)

In [32]:
df['tripduration'].apply(lambda x: x/60).describe()

count    1.877884e+06
mean     1.612525e+01
std      1.315615e+02
min      1.016667e+00
25%      6.250000e+00
50%      1.066667e+01
75%      1.881667e+01
max      4.052752e+04
Name: tripduration, dtype: float64

In [33]:
df[df['start station id'] == df['end station id']].shape

(41364, 15)

In [34]:
df['bikeid'].value_counts().head(1)

33875    559
Name: bikeid, dtype: int64

In [48]:
df.groupby(['bikeid'])[['tripduration']].mean().sort_values('tripduration')

         tripduration
bikeid
32379       64.000000
25612       72.000000
14761      182.666667
34896      217.200000
22368      224.111111
...               ...
18041   103932.100000
19083   335620.142857
17431   394605.833333
28520   417717.000000
17548   488022.400000

[10892 rows x 1 columns]

In [50]:
df[df['start station id'].isnull()].shape

(716, 15)

In [52]:
df.groupby(['usertype'])[['tripduration']].mean().apply(lambda x: x/60)

            tripduration
usertype
Customer       33.415379
Subscriber     13.332348

In [53]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [ ]:
#1.85